body {
  color: white;
  font-family: Lato;
  margin: -0.1rem 0 0 0;
  padding: 0;
  background: linear-gradient(
    327deg,
    #1869b7,
    #8e50d5,
    #3d888c,
    #3b85b7,
    #8458a7,
    #31836e
  );
  background-size: 1200% 1200%;
  animation: gradient 20s ease infinite;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

/* --- Animation --- */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  --bs-navbar-toggler-icon-bg: transparent !important;
  --bs-navbar-toggler-border-color: transparent !important;
  opacity: 0.58;
}

footer {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
}

footer a {
  color: white;
}
